html {
  scroll-behavior: smooth;
}

.bg-custom {
  background-color: #8b4513 !important;
}

.bg-kenangan {
  background-color: #ccc1a6 !important;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  padding: 0 !important;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.hero {
  height: 100vh !important;
  background-image: url("../images/latar-belakang.png");
  background-size: cover;
  background-position: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}

.home {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/thema-1.png);
  background-size: cover;
  background-position: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
  color: #ccc1a6;
}

.couple {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/thema-5.png);
  background-size: cover;
  background-position: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
  color: #8b4513;
}

.our-journey {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/thema-4.png);
  background-size: cover;
  background-position: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
  color: #8b4513;
}

#galeri {
  position: relative;
  background-image: url(../images/thema-7.png);
  background-size: cover;
  background-position: center;
  color: #8b4513;
}

.love-gift {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/thema-4.png);
  background-size: cover;
  background-position: center;
  padding-top: 10rem;
  padding-bottom: 8rem;
  color: #8b4513;
}

#ucapan {
  background-image: url(../images/thema-1.jpg);
  background-size: cover;
  background-position: center;
  color: #8b4513;
}

.footer-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ccc1a6;
}

.footer-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/date-2.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}

.font-estetik {
  font-family: "Grand Hotel", cursive;
  font-weight: 400;
  font-size: 2.3rem;
}

.font-kalem {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 2.8rem;
}

.font-depan {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 1.7rem;
}

.font-keren {
  font-family: "Grand Hotel", cursive;
  font-weight: 500;
  font-size: 2.57rem;
}

.font-tulisan {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.font-cool {
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 2.4rem;
}

.font-tamu {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

.font-asyik {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.font-nama {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.font-tanggal {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.35rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.img-crop {
  width: 14rem;
  height: 14rem;
  position: relative;
  overflow: hidden;
  border-radius: 250px 250px 0px 0px;
}

.img-crop > img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.img-home {
  width: 16rem;
  height: 16rem;
  position: relative;
  overflow: hidden;
  border-radius: 250px 250px 0px 0px;
}

.img-home > img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.img-custom {
  width: 15rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.img-custom > img {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.btn-music {
  position: fixed;
  bottom: 9vh;
  right: 2vh;
  z-index: 1055;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212529;
  z-index: 1056 !important;
}

.card-body {
  overflow-wrap: break-word !important;
  color: #8b4513;
}

.card.bg-custom {
  background: linear-gradient(to right, #f5f5dc, #eee);
}

.card-body.bg-custom {
  background: linear-gradient(to right, #f5f5dc, #eee);
}

.btn-custom {
  background-color: #8b4513;
  color: #8b4513;
  padding: 6px 16px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.btn-custom:hover {
  background-color: #8b4511;
}

.border-custom {
  border: 3px solid transparent;
}

.date {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ccc1a6;
}

.date::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/couple.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}

.centered-button {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.hidden-before-click {
  display: none;
}

.info {
  background: linear-gradient(to right, #f5f5dc, #eee);
  color: #8b4513;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .description {
  font-size: 1.2rem;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #8b4513 !important;
  border: 1px solid #8b4513;
}

.info .card-header h5 {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 1px;
  color: #8b4513;
}

.info .card-body span {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #8b4513;
}

.info .card-footer {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8b4513;
}

.section-title {
  color: #8b4513;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.35rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: #8b4513;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .social-button.website {
  background: #8b4513; /* Warna Website */
}

.rounded-social-buttons .social-button.whatsapp:hover,
.rounded-social-buttons .social-button.whatsapp:focus,
.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus,
.rounded-social-buttons .social-button.website:hover,
.rounded-social-buttons .social-button.website:focus {
  color: #8b4513;
  background: #fefefe;
  border-color: #8b4513;
}

.social-icons a i {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 2.65rem;
  height: 2.65rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: color 0.3s, background 0.3s, border-color 0.3s;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: #8b4513;
}

.social-icons a i:hover,
.social-icons a i:focus {
  color: #8b4513;
  background: #fefefe;
  border-color: #8b4513;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.heart {
  animation: heartbeat 1s infinite;
}
